@use "../../assets/variables.scss" as variables;

.see-more-section {
  .see-more-label {
    //fonts settings
    font-family: variables.$text-titles;
    font-size: 2rem;
    line-height: 110%;
    color: variables.$text-gray-color;
  }

  .see-more-news-list {
    &:first-of-type {
      margin-top: 10px;
    }
    .see-more-news-item {
      img {
        border-radius: 8px;
      }

      &:first-of-type {
        padding-top: 0;

        .see-more-header {
          .see-more-category-container {
            .see-more-category {
              color: variables.$text-gray-color;
            }
            svg {
              fill: variables.$brackets-gray-color;
            }
          }
        }
      }

      &:last-of-type {
        border-bottom: none;

        .see-more-header {
          .see-more-category-container {
            .see-more-category {
              color: variables.$text-dark-gray-color;
            }
            svg {
              fill: variables.$brackets-dark-gray-color;
            }
          }
        }
      }

      padding-top: 20px;
      border-bottom: 1px solid variables.$border-item-color;
      .see-more-header {
        margin-top: 20px;
        .see-more-category-container {
          display: flex;
          align-items: center;

          .see-more-category {
            //fonts settings
            font-family: variables.$text-category;
            line-height: 120%;
          }
        }

        .see-more-title {
          //margins
          margin-top: 10px;
          //fonts settings
          font-family: variables.$text-titles;
          font-size: 1.5rem;
          line-height: 110%;
          text-transform: uppercase;
        }
      }
      .see-more-date {
        display: block;
        //margins
        margin: 20px 0;
        //fonts settings
        font-size: 1rem;
        font-family: variables.$text-primary;
        line-height: 110%;
      }
    }
  }
}

@media (min-width: 100px) {
  .see-more-section {
    margin-top: 100px;
  }
}
