//Common
$brackets-gray-color: #707070;
$brackets-color: #fefefe;
$brackets-dark-gray-color: #404040;

$background-color: #121212;
$border-color: #707070;

$border-item-color: #404040;
//fonts color

$text-dark-gray-color: #404040;
$text-gray-color: #707070;
$text-default-color: #fefefe;

// fonts family
$text-primary: "Rubik";
$text-category: "RubikMedium";
$text-titles: "Fairfax";

//fonts colors

$text-description-color: #fefefecc;
